tweepy==4.14.0
pandas==2.2.2
numpy==1.26.4
PyYAML==6.0.2
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
transformers==4.41.2
datasets==2.19.1
torch==2.2.2
streamlit==1.35.0
emoji==2.12.1
beautifulsoup4==4.12.3
nltk==3.8.1
